Repository node-red-contrib-themes/theme-collection, pull requests merged in 2024-10, with the labels that each got.

#523 Bump version to 4.0.11
  package.json
Labels: skip-changelog

#525 Update the template for easier theme creation
  src/template/theme.scss
Labels: theme-updates

#528 Add Prettier
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/DISCUSSION_TEMPLATE/theme-request.yml
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/renovate.json
  .github/workflows/prettier.yml
  .gitignore
  .prettierrc
  .vscode/settings.json
  DEVELOPMENT.md
  lib/build-theme.js
  lib/build.js
  lib/dev.js
  lib/init.js
  src/template/theme.scss
  src/themes/aurora/theme-monaco.json
  src/themes/aurora/theme.scss
  src/themes/cobalt2/theme.scss
  src/themes/dark/theme.scss
  src/themes/dracula/theme.scss
  src/themes/espresso-libre/theme.scss
  src/themes/github-dark-default/theme.scss
  src/themes/github-dark-dimmed/theme.scss
  src/themes/github-dark/theme.scss
  src/themes/midnight-red/theme.scss
  src/themes/monoindustrial/theme.scss
  src/themes/monokai-dimmed/theme.scss
  src/themes/monokai/theme.scss
  src/themes/noctis/theme.scss
  src/themes/oceanic-next/theme.scss
  src/themes/oled/theme.scss
  src/themes/one-dark-pro-darker/theme.scss
  src/themes/one-dark-pro/theme.scss
  src/themes/solarized-dark/theme.scss
  src/themes/solarized-light/theme.scss
  src/themes/tokyo-night-light/theme.scss
  src/themes/tokyo-night-storm/theme.scss
  src/themes/tokyo-night/theme.scss
  src/themes/totallyinformation/theme.scss
  src/themes/zenburn/theme.scss
  themes.js
Labels: maintenance

#526 Add Railscasts Extended theme
  README.md
  src/themes/railscasts-extended/theme-custom.css
  src/themes/railscasts-extended/theme-mermaid.json
  src/themes/railscasts-extended/theme-monaco.json
  src/themes/railscasts-extended/theme.scss
Labels: new-theme

#531 Bump version to 4.1.0-beta
  package.json
Labels: skip-changelog

#532 Documentation rewrite
  .vscode/settings.json
  DEVELOPMENT.md
  README.md
  lib/create-theme.js
Labels: documentation

#533 Rename the create-theme script to new-script
  DEVELOPMENT.md
  lib/dev.js
  lib/new-theme.js
  package.json
Labels: maintenance

#534 Add Selenized Dark theme
  README.md
  src/themes/selenized-dark/theme-custom.css
  src/themes/selenized-dark/theme-mermaid.json
  src/themes/selenized-dark/theme-monaco.json
  src/themes/selenized-dark/theme.scss
Labels: new-theme

#535 Add Selenized Light theme
  README.md
  src/themes/selenized-light/theme-custom.css
  src/themes/selenized-light/theme-mermaid.json
  src/themes/selenized-light/theme-monaco.json
  src/themes/selenized-light/theme.scss
Labels: new-theme

#536 Add Night Owl theme
  README.md
  src/themes/night-owl/theme-custom.css
  src/themes/night-owl/theme-mermaid.json
  src/themes/night-owl/theme-monaco.json
  src/themes/night-owl/theme.scss
Labels: new-theme

#537 Add Noctis Viola theme
  README.md
  src/themes/noctis-viola/theme-custom.css
  src/themes/noctis-viola/theme-mermaid.json
  src/themes/noctis-viola/theme-monaco.json
  src/themes/noctis-viola/theme.scss
Labels: new-theme

#539 Add Noctis Sereno theme
  README.md
  src/themes/noctis-sereno/theme-custom.css
  src/themes/noctis-sereno/theme-mermaid.json
  src/themes/noctis-sereno/theme-monaco.json
  src/themes/noctis-sereno/theme.scss
Labels: new-theme

#540 Add Noctis Obscuro theme
  README.md
  src/themes/noctis-obscuro/theme-custom.css
  src/themes/noctis-obscuro/theme-mermaid.json
  src/themes/noctis-obscuro/theme-monaco.json
  src/themes/noctis-obscuro/theme.scss
Labels: new-theme

#541 Add Noctis Minimus theme
  README.md
  src/themes/noctis-minimus/theme-custom.css
  src/themes/noctis-minimus/theme-mermaid.json
  src/themes/noctis-minimus/theme-monaco.json
  src/themes/noctis-minimus/theme.scss
Labels: new-theme

#542 Add Noctis Bordo theme
  README.md
  src/themes/noctis-bordo/theme-custom.css
  src/themes/noctis-bordo/theme-mermaid.json
  src/themes/noctis-bordo/theme-monaco.json
  src/themes/noctis-bordo/theme.scss
Labels: new-theme

#543 Add Noctis Azureus theme
  README.md
  src/themes/noctis-azureus/theme-custom.css
  src/themes/noctis-azureus/theme-mermaid.json
  src/themes/noctis-azureus/theme-monaco.json
  src/themes/noctis-azureus/theme.scss
Labels: new-theme

#548 Update Sass files to the module system
  src/template/theme.scss
  src/themes/aurora/theme.scss
  src/themes/cobalt2/theme.scss
  src/themes/dark/theme.scss
  src/themes/dracula/theme.scss
  src/themes/espresso-libre/theme.scss
  src/themes/github-dark-default/theme.scss
  src/themes/github-dark-dimmed/theme.scss
  src/themes/github-dark/theme.scss
  src/themes/midnight-red/theme.scss
  src/themes/monoindustrial/theme.scss
  src/themes/monokai-dimmed/theme.scss
  src/themes/monokai/theme.scss
  src/themes/night-owl/theme.scss
  src/themes/noctis-azureus/theme.scss
  src/themes/noctis-bordo/theme.scss
  src/themes/noctis-minimus/theme.scss
  src/themes/noctis-obscuro/theme.scss
  src/themes/noctis-sereno/theme.scss
  src/themes/noctis-uva/theme.scss
  src/themes/noctis-viola/theme.scss
  src/themes/noctis/theme.scss
  src/themes/oceanic-next/theme.scss
  src/themes/oled/theme.scss
  src/themes/one-dark-pro-darker/theme.scss
  src/themes/one-dark-pro/theme.scss
  src/themes/railscasts-extended/theme.scss
  src/themes/selenized-dark/theme.scss
  src/themes/selenized-light/theme.scss
  src/themes/solarized-dark/theme.scss
  src/themes/solarized-light/theme.scss
  src/themes/tokyo-night-light/theme.scss
  src/themes/tokyo-night-storm/theme.scss
  src/themes/tokyo-night/theme.scss
  src/themes/totallyinformation/theme.scss
  src/themes/zenburn/theme.scss
Labels: maintenance

#549 Add a name to the update_release_draft job
  .github/workflows/release-drafter.yml
Labels: maintenance

#550 Customize the scrollbar colors
  src/common/common.css
Labels: enhancement

#556 Set `color-scheme` by theme
  DEVELOPMENT.md
  src/common/common.css
  src/template/theme-custom.css
  src/themes/aurora/theme-custom.css
  src/themes/cobalt2/theme-custom.css
  src/themes/dark/theme-custom.css
  src/themes/dracula/theme-custom.css
  src/themes/espresso-libre/theme-custom.css
  src/themes/github-dark-default/theme-custom.css
  src/themes/github-dark-dimmed/theme-custom.css
  src/themes/github-dark/theme-custom.css
  src/themes/midnight-red/theme-custom.css
  src/themes/monoindustrial/theme-custom.css
  src/themes/monokai-dimmed/theme-custom.css
  src/themes/monokai/theme-custom.css
  src/themes/night-owl/theme-custom.css
  src/themes/noctis-azureus/theme-custom.css
  src/themes/noctis-bordo/theme-custom.css
  src/themes/noctis-minimus/theme-custom.css
  src/themes/noctis-obscuro/theme-custom.css
  src/themes/noctis-sereno/theme-custom.css
  src/themes/noctis-uva/theme-custom.css
  src/themes/noctis-viola/theme-custom.css
  src/themes/noctis/theme-custom.css
  src/themes/oceanic-next/theme-custom.css
  src/themes/oled/theme-custom.css
  src/themes/one-dark-pro-darker/theme-custom.css
  src/themes/one-dark-pro/theme-custom.css
  src/themes/railscasts-extended/theme-custom.css
  src/themes/selenized-dark/theme-custom.css
  src/themes/selenized-light/theme-custom.css
  src/themes/solarized-dark/theme-custom.css
  src/themes/solarized-light/theme-custom.css
  src/themes/tokyo-night-light/theme-custom.css
  src/themes/tokyo-night-storm/theme-custom.css
  src/themes/tokyo-night/theme-custom.css
  src/themes/totallyinformation/theme-custom.css
  src/themes/zenburn/theme-custom.css
Labels: enhancement
